-# This is used for 90% + of all form 'submit' buttons and cancel links
- submit_text ||= nil
- unless submit_text.blank?
  = f.button :submit, submit_text
-else
  = f.button :submit
- skip_destroy_link ||= false
- unless skip_destroy_link == false
  %li.arrow
    - if !f.object.new_record?
      - resource = (f.object.class.name).downcase
      = link_to "destroy", url_for(:action => 'destroy'), :confirm => "Are you sure that you want to delete this #{resource}?", :method => :delete