-# Lower banner div
.half_banner_wrapper.shadow.pad_10
  = link_to image_tag("/images/buca_banner.jpg", :alt => "Buca"), new_organization_path(Organization.find_by_name("Planet Hollywood International/Buca Di Beppo")), :class => "half_banner_wrapper"