-# Required for clicky stats

%a{:href => "http://getclicky.com/244988", :title => "Real Time Web Analytics"}
%script{:src => "http://static.getclicky.com/js", :type => "text/javascript"}
:javascript
  clicky.init(244988);
%p
  %img{:alt => "Clicky", :height => "1", :src => "http://in.getclicky.com/244988ns.gif", :width => "1"}/