.avatar_index {
  margin: 0px auto;
  text-align: center;
  padding: 0; }

.avatar_thumb {
  margin: 0px auto;
  text-align: center;
  padding: 0; }

.show_contact_info {
  font-size: 100%;
  padding: 0px 0px 10px 0px;
  text-align: left;
  margin: 0; }

.show_contact_info_line {
  font-weight: normal;
  font-size: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0; }

.pad2 {
  padding: 0px 0px 0px 3px; }

.vcard {
  font-weight: normal; }

table.contacts {
  border-collapse: collapse;
  margin: 0;
  padding: 0; }

td {
  padding: 0px 0px 0px 5px;
  margin: 0;
  border-collapse: collapse; }

td.name_td {
  padding: 0px 0px 0px 5px;
  margin: 0;
  width: 300px; }

td.avatar_td {
  padding: 0px;
  margin: 0;
  width: 80px; }

td.title_td {
  padding: 0px;
  margin: 0;
  width: 250px; }

a.name {
  color: #282828;
  font-size: 120%;
  font-weight: bold; }

a:hover.name {
  color: #f8f8f8;
  background: #282828;
  font-size: 120%;
  font-weight: bold; }

table.contact_method {
  border-collapse: collapse;
  margin: 0;
  padding: 0px 0px 10px 0px; }
  table.contact_method tr {
    vertical-align: top; }
    table.contact_method tr th {
      text-align: top;
      width: 100px; }

.avatar_container {
  margin: 0px 20px 20px 0px;
  font-size: 60%; }

.avatar {
  background: url(/images/avatar_mini.gif) no-repeat left; }

#note_body {
  width: 100%; }

.note_show {
  padding: 10px 0px; }
