- title "Something Is Not Right"
#content_wrapper
  #full_col.shadow.dark_text
    .col_head
      %h2.float_left
        This is embarrassing
      .clear
    .block_quote.left
      Due to some error (most likely ours not yours), we are not able to handle that request.  Feel free to hit the 'back' button and try again, or click 'Support' above and let us know what happened!
      
      Thanks,
      
      The iTourSmart Crew