.shadow.smaller
  .col_head
    %h2
      = "Members"
  .block_quote.left.smaller
    = "You have #{pluralize(@organization.member_count, "member")} represented in iTourSmart"
    .pad_10
    = "To remove or add a member, simply locate the company profile in iTourSmart and click the appropriate link."