#subscription_types
  %table#subscription_types.border.collapse.smaller
    %tr
      %th.border.grey.grey
      %th.border.grey.grey
        Courtesy
        %br
        Free
      %th.border.grey.grey
        Basic
        %br
        ($50/month)
      %th.border.grey.grey
        Premium
        %br
        ($75/month)
      %th.border.grey.grey
        Unlimited
        %br
        ($150/month)
      %th.border.grey.grey
        Travel Provider
        %br
        (free)
    %tr
      %th.border.blue(colspan =6)
        Business Listing
    %tr
      %th.border.grey.left
        Name
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Type
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Phone
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Website
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Facebook & Twitter URL's
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Email Address
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Logo
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Short Description (up to 255 chars)
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Long Description (format-able, no limit)
      %td.border
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        Users
      %td.border
        1
      %td.border
        1
      %td.border
        3
      %td.border
        unlimited
      %td.border
        unlimited
    %tr
      %th.border.grey.left
        Enhanced Listing
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
    %tr
      %th.border.grey.left
        Add Search Keywords
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
    %tr
      %th.border.blue(colspan =6)
        Location Listing(s)
    %tr
      %th.border.grey.left
        Number of locations
      %td.border
        unlimited
      %td.border
        unlimited
      %td.border
        unlimited
      %td.border
        unlimited
      %td.border
        1
    %tr
      %th.border.grey.left
        Primary Contact
      %td.border
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border      
    %tr
      %th.border.grey.left
        Phone Number
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
    %tr
      %th.border.grey.left
        Website
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
    %tr
      %th.border.blue(colspan =6)
        Products & Services
    %tr
      %th.border.grey.left
        Credits
      %td.border
      %td.border
      %td.border
        10
      %td.border
        unlimited
      %td.border
    %tr
      %td.border.grey(colspan =6)
        1 credit is used for each product/service at each location
        %br
        (i.e.- 3 locations with 4 products/services each requires 12 credits)
    %tr
      %th.border.blue(colspan =6)
        Additional Benefits
    %tr
      %th.border.grey.left
        Search Travel Providers
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
    %tr
      %th.border.grey.left
        View/Search Association Directories
      %td.border
      %td.border
        x
      %td.border
        x
      %td.border
        x
      %td.border
        x
  