- title "Edit Brand Category"
#content_wrapper
  #full_col.shadow.dark_text
    .col_head
      %h2.float_left
        = "Edit Brand Category"
      .right
        = link_to "View All", categories_path
      .clear
    .block_quote.left
      = render 'form'