!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
  %body
    #wrapper
      #content
        = yield
        .clear
      .clear
    .clear
    .pad_10
  .pad_10