- title "Edit Login Information"
#content_wrapper
  #full_col.shadow.dark_text
    .col_head
      %h2.float_left
        = "Edit Login Information"
      .clear
    .block_quote.left
      = render 'users/registrations/form_edit'
      =# render :partial => "devise/shared/links"
    -#TODO - Nothing.  Added this to try and force  commit.
      
